/* Index */
.navbar {
    padding: .5rem 0;
    background: #ffffff;
    border-bottom: 1px solid #ccc;
}

.navbar-search {
    padding: 1rem 0;
    background: #262637;
    margin-top: 56px;
}

.navbar-search .row {
    margin-left: 0;
    margin-right: 0;
}

.navbar-input {
    border: none;
    height: 40px;
}

.navbar-button {
    background: #00deb6;
    border-radius: 0;
    border: none;
}

main {
    padding-top: 15px;
    background: rgb(245, 245, 245);
}

.breadcrumb {
    padding: .5rem 0;
    background-color: rgb(245, 245, 245);
}

.section-wrapper {
    background: #ffffff;
    border: 1px solid #dfdfe1;
    margin-bottom: 15px;
}

.agent-item {
    padding: 15px;
    border-bottom: 1px solid #dfdfe1;
}

.agent-ava img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.agent-item-name {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    line-height: 28px;
}

.sidebar ul {
    padding-left: 20px;
}

.sidebar ul li a {
    color: #222;
}
/* End Index */

/* Agent */
#agent-detail-page{

}
.agent-detail{
    background: #ffffff;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.agent-entry-wrapper{
    padding: 15px;
}
.agent-entry-wrapper img{
    width: 100%;
    height: auto;
}
.entry-item{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.property-title{
    font-size: 18px;
}
.entry-properties p,
.entry-properties ul{
    margin-bottom: 0;
    padding-left: 0;
}
.entry-properties ul li{
    margin-right: 20px;
}
.entry-media .price{
    font-weight: bold;
    font-size: 20px;
}
/* End Agent */